{{ $allTags := $.Site.Taxonomies.tags }}
{{ if $allTags }}
<div class="tag-filter">
  <span class="tag-switch tag-switch--active" data-tag="all">
    <span class="tag-switch__track">
      <span class="tag-switch__thumb"></span>
    </span>
    <span class="tag-switch__label">{{ i18n "filterAll" }}</span>
  </span>
  {{ range $tag, $pages := $allTags }}
  <span class="tag-switch" data-tag="{{ $tag }}">
    <span class="tag-switch__track">
      <span class="tag-switch__thumb"></span>
    </span>
    <span class="tag-switch__label">{{ $tag | humanize }}</span>
  </span>
  {{ end }}
</div>
{{ end }}

<div class="portfolio-grid">
  {{ range .Pages }}
  <a href="{{ .Permalink }}" class="portfolio-item" data-tags="{{ with .Params.tags }}{{ delimit . "," }}{{ end }}">
    {{ if and (isset .Params "image") .Params.image }}
    <div class="portfolio-item__img" style="background-image: url('{{ if hasPrefix .Params.image "http" }}{{ .Params.image }}{{ else }}{{ .Params.image | absURL }}{{ end }}');"></div>
    {{ else }}
    <div class="portfolio-item__img portfolio-item__img--placeholder"></div>
    {{ end }}
    <div class="portfolio-item__overlay">
      <span class="portfolio-item__caption">{{ .Title }}</span>
    </div>
  </a>
  {{ end }}
</div>
